.main-menu-margin {
  height: 1px;
}

hr.pink {
  border: none;
  width: 20%;
  text-align: center;
  border-bottom: 1px solid #ff008a;
}

h1, h2 {
  color: #FE4EAD;
}

h3 {
  color: #FE6ABA;
}

.fa-ul {
  list-style: none;
}

.fa-ul li {
  padding-bottom: 10px;
}

.icon {
  margin: 0 3px;
  height: 18px;
  width: 18px;
  text-align: center;
}

.sub-nav {
  text-align: center;
  border-bottom: 1px solid #ff008a;
}


.sub-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-nav__list_item {
  display: inline;
}

.sub-nav__list_item:not(:first-child)::before {
  content: '\2022';
  margin: 0 6px 0 3px;
  color: #777;
}

.spinner {
  -webkit-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
  background: url(/loading.svg);
  width: 76px;
  height: 75px;
  display: block;
  margin: 0 auto;
}

@-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
@keyframes         rotate{ to{        transform: rotate(360deg); } }

.photo { width: 220px;
  margin: 5px;
  float: left;
  max-width: 176px;
  border: 3px solid #fff;
}

.photo:hover {
  border: 3px solid #ff008a;
}

.photo img {
  max-width: 100%;
  display: block;
}
