.main-menu-margin {
  height: 1px;
}

hr.pink {
  border: none;
  width: 20%;
  text-align: center;
  border-bottom: 1px solid #ff008a;
}

h1, h2 {
  color: #FE4EAD;
}

h3 {
  color: #FE6ABA;
}

.fa-ul {
  list-style: none;
}

.fa-ul li {
  padding-bottom: 10px;
}

.icon {
  margin: 0 3px;
  height: 18px;
  width: 18px;
  text-align: center;
}

.sub-nav {
  text-align: center;
  border-bottom: 1px solid #ff008a;
}


.sub-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-nav__list_item {
  display: inline;
}

.sub-nav__list_item:not(:first-child)::before {
  content: '\2022';
  margin: 0 6px 0 3px;
  color: #777;
}

